<!# article_base.html>
<! Renders the view for all article>

{% load staticfiles %}

<head>
<title>{{ current_article.headline }}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<br />

<!-- Table for Reading Properties -->

<body>
    <style>
        #content_container #table_container
        {
            margin: auto;
            border-style:solid;
            width:1000px;
            
        }

        .overall_comment_class
        {
            height:100px;
            font-size:12pt;
            text-align:left;
             
        }

        .headline_comment_class
        {
            height:100px;
            font-size:15pt;
            font-weight:bold;
            text-align:center;
        }
        .overall_comment_cell_class
        {
            height: 210px;
            width: 650px;
            background:rgba(255, 255, 255, .7);

        }

        .sharing_cell
        {
            width:350px;
            background:rgba(255, 255, 255, .7);
        }

        .article_content_Render_class
        {
            width:650px;

        }
    </style>

    <!-- Facebook Metatags -->

    <div id='content_container'>
        
        <!--Table for Reading Properties -->

        <table width = '100%' id ='table_container'>
            <tr>
                <td width='650px' id='overall_comments' class='overall_comment_cell_class'>
              
                           
                        <!-- Overall Comment Section -->
                            
                        <div id='headline_comment_id' class='headline_comment_class'>
                            <br/>
                            <h2>
                                Here are my thoughts
                            </h2>
                            <br/>
                        </div>

                        <hr>

                        <div id='overall_comment_id' class='overall_comment_class'>
                            <br/>
                            <h4>
                                What do you think?
                            </h4>

                        </div>

                        <br/>
                        <br/>
                        
                </td>
                

                <td id='article_sharing' class='sharing_cell'>
                    <strong>Share your thoughts</strong>

                    <br/>

                    <a id="email_article" > 
                        <img src = "{% static "email_icon.png" %}">

                    </a>

                    <br/>

                    <div id="sendFacebook"> 

                        <img src = "{% static "facebook_share.png" %}">

                    </div>

                    <div id="linktoArticle"> 

                        <br/>

                        URL to share with your friends
                        
                        <br/>
                        <input readonly id="URL_share" type="text" name="article_url" value="" >

                    </div>

                </td>
                                
                        <br/>
            </tr>
            <tr>
                <td>                    <!-- Reading content -->

                        <div class="article_content_Render_class">

                            <div id='RWM_headline'>
                                {{ current_article.headline }}
                                
                            </div>
                                    
                            <br/>
                                    
                            <div id='RWM_description'>
                                {{ current_article.description }}
                            </div>
                            
                            <br/>
                            
                            <img src="{{ current_article.image_url }}" id='RWM_news_picture' />
                            
                            <br/>
                            
                            <div id='RWM_news_source'>
                            </div>

                            <br/>
                            
                            <div id='RWM_author'>
                                {{ current_article.author }}
                            </div>
                            
                            <br/>
                            
                            <div id='RWM_para'>
                            </div>

                            <br/>   

                            <div id='RWM_original_article_url'>
                            </div>


                        </div>
                        
                    </div>
                </td>

                <td id='comment_content' height='100'>
                    <div id='article_comments_id'>
                    </div>
                </td>

            </tr>

        </table>
    </div>

</body>

<script>
    // Get Article URL
    // Make Ajax requests to get article contents
    // Render the content in the approperiate locations

    var articleContent = new Object();
    var commentContent = new Object();
    

    // Add Contents to the document

    get_Article()/**/
    

    function get_Article()
    {
        var articleInfo = new Object()
        articleInfo.userName = getUsername()
        articleInfo.articleId = getArticleID()

        $.get("/article_handler/",
                      articleInfo)
                      .done(function(data) 
                                {

                                    articleContent = data
                                    add_article_content()
                                    getSharing()
                                    addOpenGraphTags()
                                }
                            )

    }

    function add_article_content()
    {
        $('#RWM_headline').html(articleContent.headline)
        
        $('title').html(articleContent.headline)

        $('#RWM_description').html(articleContent.description)    
        $('#RWM_news_source').html(articleContent.site_name)
        $('#RWM_news_picture').attr("src", articleContent.image_url)
        $('#RWM_author').html(articleContent.author)

        $("#RWM_news_picture").load(function() 
        {
            size_image()    
        })

        var original_article_url = ""
        original_article_url += "<a href='" + jQuery.parseJSON(articleContent.article_JSON).url + "'>"
        original_article_url += "Original Article"
        original_article_url += "</a>"

        $('#RWM_original_article_url').append(original_article_url)
                
        add_paras()
        getComments()
        
    }


    function size_image()
    {

        $('#RWM_news_picture').each(function() 
        {
            var maxWidth = 600; // Max width for the image
            var maxHeight = 400;    // Max height for the image
            var ratio = 0;  // Used for aspect ratio
            var width = $(this).width();    // Current image width
            var height = $(this).height();  // Current image height

            // Check if current height is larger than max
            if(height > maxHeight)
            {
                ratio = maxHeight / height; // get ratio for scaling image
                $(this).css("height", maxHeight);   // Set new height
                $(this).css("width", width * ratio);    // Scale width based on ratio
                width = width * ratio;    // Reset width to match scaled image
            }

            // Check if the current width is larger than the max
            if(width > maxWidth)
            {
                ratio = maxWidth / width;   // get ratio for scaling image
                $(this).css("width", maxWidth); // Set new width
                $(this).css("height", height * ratio);  // Scale height based on ratio
                height = height * ratio;    // Reset height to match scaled image
            }
        })
    }

    function add_paras()
    {
        var wordcount = 0; 
        var html_para = ''
        var para_words = "";
        
        var articleJSON = jQuery.parseJSON(articleContent.article_JSON)

        var paras = articleJSON.paras

        for (var i in paras) 
        {
            html_para += "<p>"

            var individual_para = paras[i]
            
            para_words = individual_para.split(" ")
          
            // Go through each word in the paragraph, creating a span and id for each word
            
            for (var j in para_words) 
            {
                html_para += "<span id='p" + wordcount + "'>"
                html_para += para_words[j] + " "
                html_para += "</span>" 
                wordcount++;
            }
            
            html_para += '</p>';    
        }

        $('#RWM_para').append(html_para)

    }



    function getUsername()
    {
        var fullpath = window.location.pathname
        var ArticleID = fullpath.substring(fullpath.indexOf('article')+8)
        end_index = ArticleID.indexOf('/')
        UserName_article_id = ArticleID.substring(end_index + 1)
        end_username = UserName_article_id.indexOf('/')

        userName = UserName_article_id.substring(0, end_username)

        return userName
    }

    function getArticleID()
    {
        var fullpath = window.location.pathname
        first_half = fullpath.substring(fullpath.indexOf('article')+8)
        end_index = first_half.indexOf('/')
        article_id = first_half.substring(0, end_index)
        return article_id
    }


    function getComments()
    {
        $.get("/comment_handler/",
                      {"article_id":getArticleID()})
                      .done(function(data) 
                                {
                                    commentContent = jQuery.parseJSON(data)
                                    CommentPresentation()
                                }
                            )


    }

    function CommentPresentation()
    {
        //clear all previous comments
        $('#article_comments_id').html('');
                    
        var divCommentLoc = $('#article_comments_id').offset()
    

        for (var i=0; i < commentContent.inline.length; i++)
        {
            //Individual Comment Offset
            var commentLoc = $('#' + commentContent.inline[i].ids[commentContent.inline[i].ids.length-1]).offset()

            var user_comment = "";
            user_comment += "<div class='rwm_comment_class' "
            user_comment += "style='top:"
            user_comment += (commentLoc.top - divCommentLoc.top)
            user_comment += "px; overflow:scroll;'>"
            user_comment += '<strong>'
            user_comment += commentContent.inline[i].username + ': <br/>'
            user_comment += '</strong>'
            user_comment += commentContent.inline[i].comment
            user_comment +='</div>'

            $('#article_comments_id').prepend(user_comment)


            // Highlight Words
            for(x in commentContent.inline[i].ids)
            {
                $(('#' + commentContent.inline[i].ids[x])).css('background', 'yellow')
            }
        }

        UpdateHeadlineComment()
        UpdateOverallComment()

    }

    function UpdateHeadlineComment()
    {
        var append_headline = ""
            append_headline += "<h4 style='text-align:left; color:gray'>"
            append_headline += getUsername()
            append_headline += ": "
            append_headline += "</h4>"
            append_headline += commentContent.headline.comment

        $('#headline_comment_id').html(append_headline)

    }


    function UpdateOverallComment()
    {
        $('#overall_comment_id').html(commentContent.overall.comment)
    }

    function addOpenGraphTags()
    {
        var oGMetaTags = ""

        //Headline Tag
        oGMetaTags += "<meta property='og:title' content='"
        oGMetaTags += articleContent.headline + "' />"

        //URL Tag
        oGMetaTags += "<meta property='og:url' content='"
        oGMetaTags += window.location.href + "' />"

        //Site Name
        oGMetaTags += "<meta property='og:site_name' content='"
        oGMetaTags += "Read With Me" + "' />"

        //Type
        oGMetaTags += "<meta property='og:type' content='"
        oGMetaTags += "article" + "' />"

        //http://davidwalsh.name/facebook-meta-tags
        //<meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
        
        $('body').prepend(oGMetaTags)

    }

    //var domain = 'http://127.0.0.1:8000'
    var domain = "http://rwm-stage.herokuapp.com"

    var facebook_sharer = '';

    function getSharing()
    {

        var article_url = window.location.href

        //setup mailto functionality 


            var mailToUrl = ""

            mailToUrl += "mailto:?to="

            // Subject Text
            mailToUrl += "&subject="
            mailToUrl += "My thoughts on \"" + articleContent.headline + "\""

            // Body Text
            mailToUrl += "&body="
            mailToUrl += "What do you think of this? - %0d" + "%09" + articleContent.headline
            mailToUrl += "- ( " + article_url + " )"

            // Closing Text
            mailToUrl += "%0d" + "%0d" + "%0d"
            mailToUrl += "Share your thoughts on Read With Me - " + domain
            
            $("#email_article").attr("href", mailToUrl)

        // Specify share on facebook functionality  
            facebook_sharer = "https://www.facebook.com/sharer/sharer.php?u=" + article_url
            
            $("#URL_share").attr("value", article_url)

    }

    $('#sendFacebook').click(
        function() 
        {
            window.open(facebook_sharer , 'sharer', 'width=626,height=436');
        });

</script>
