<!# article_base.html>
<! Renders the view for all article>


<head>
<title></title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<br />

<!-- Table for Reading Properties -->

<body>
    <style>
        #content_container #table_container
        {
            margin: auto;
            border-style:solid;

        }
    </style>


    <div id='content_container'>
        <table width = '1100px' id = 'table_container'>
            <tr>
                <td width='700px'>

                    <!-- Reading content -->

                    <div>
                
                        <br/>
                            
                        <!-- Overall Comment Section -->
                            
                        <div id='overall_comment_RWM_Viewer_id' class="overall_comment_RWM_Viewer_class">
                            Overall questions or comments on this article
                            <br/>

                            <div id='leave_comment_RWM_Viewer_id' class="leave_comment_RWM_Viewer_class">
                                <br/>
                                click here to leave an overall comment about this article
                            </div>

                            <br/>
                            <br/>
                        </div>
                                
                        <br/>
                        
                        <div class="article_content_Render_class">

                            <div id='RWM_headline'>
                            </div>
                                    
                            <br/>
                                    
                            <div id='RWM_description'>
                            </div>
                            
                            <br/>
                            
                            <img id='RWM_news_picture' />
                                    
                            <br/>
                            
                            <div id='RWM_news_source'>
                            </div>

                            <br/>
                            
                            <div id='RWM_author'>
                            </div>
                            
                            <br/>
                            
                            <div id='RWM_para'>
                            </div>

                            <br/>   

                            <div id='RWM_original_article_url'>
                            </div>


                        </div>
                        
                    </div>
                </td>

                <td id='comment_content' height='100'>
                    <div id='article_comments_id'>
                    </div>
                </td>

            </tr>

        </table>
    </div>

</body>

<script>
    // Get Article URL
    // Make Ajax requests to get article contents
    // Render the content in the approperiate locations

    var articleContent = new Object();
    var commentContent = new Object();
    

    // Add Contents to the document

    get_Article()/**/
    

    function get_Article()
    {
        var articleInfo = new Object()
        articleInfo.userName = getUsername()
        articleInfo.articleId = getArticleID()

        $.get("/article_handler/",
                      articleInfo)
                      .done(function(data) 
                                {

                                    articleContent = data
                                    add_article_content()
                                }
                            )

    }

    function add_article_content()
    {
        $('#RWM_headline').append(articleContent.headline)
        
        $('title').append(articleContent.headline)

        $('#RWM_description').append(articleContent.description)    
        $('#RWM_news_source').append(articleContent.site_name)
        $('#RWM_news_picture').attr("src", articleContent.image_url)
        $('#RWM_author').append(articleContent.author)

        $("#RWM_news_picture").load(function() 
        {
            size_image()    
        })

        var original_article_url = ""
        original_article_url += "<a href='" + jQuery.parseJSON(articleContent.article_JSON).url + "'>"
        original_article_url += "Original Article"
        original_article_url += "</a>"

        $('#RWM_original_article_url').append(original_article_url)
                
        add_paras()
        getComments()
        
    }


    function size_image()
    {

        $('#RWM_news_picture').each(function() 
        {
            var maxWidth = 600; // Max width for the image
            var maxHeight = 400;    // Max height for the image
            var ratio = 0;  // Used for aspect ratio
            var width = $(this).width();    // Current image width
            var height = $(this).height();  // Current image height

            // Check if current height is larger than max
            if(height > maxHeight)
            {
                ratio = maxHeight / height; // get ratio for scaling image
                $(this).css("height", maxHeight);   // Set new height
                $(this).css("width", width * ratio);    // Scale width based on ratio
                width = width * ratio;    // Reset width to match scaled image
            }

            // Check if the current width is larger than the max
            if(width > maxWidth)
            {
                ratio = maxWidth / width;   // get ratio for scaling image
                $(this).css("width", maxWidth); // Set new width
                $(this).css("height", height * ratio);  // Scale height based on ratio
                height = height * ratio;    // Reset height to match scaled image
            }
        })
    }

    function add_paras()
    {
        var wordcount = 0; 
        var html_para = ''
        var para_words = "";
        
        var articleJSON = jQuery.parseJSON(articleContent.article_JSON)

        var paras = articleJSON.paras

        for (var i in paras) 
        {
            html_para += "<p>"

            var individual_para = paras[i]
            
            para_words = individual_para.split(" ")
          
            // Go through each word in the paragraph, creating a span and id for each word
            
            for (var j in para_words) 
            {
                html_para += "<span id='p" + wordcount + "'>"
                html_para += para_words[j] + " "
                html_para += "</span>" 
                wordcount++;
            }
            
            html_para += '</p>';    
        }

        $('#RWM_para').append(html_para)

    }



    function getUsername()
    {
        var fullpath = window.location.pathname
        var ArticleID = fullpath.substring(fullpath.indexOf('article')+8)
        end_index = ArticleID.indexOf('/')
        UserName_article_id = ArticleID.substring(end_index + 1)
        end_username = UserName_article_id.indexOf('/')

        userName = UserName_article_id.substring(0, end_username)

        return userName
    }

    function getArticleID()
    {
        var fullpath = window.location.pathname
        first_half = fullpath.substring(fullpath.indexOf('article')+8)
        end_index = first_half.indexOf('/')
        article_id = first_half.substring(0, end_index)
        return article_id
    }


    function getComments()
    {
        $.get("/comment_handler/",
                      {"article_id":getArticleID()})
                      .done(function(data) 
                                {
                                    commentContent = jQuery.parseJSON(data)
                                    CommentPresentation()
                                }
                            )


    }

    function CommentPresentation()
    {
        //clear all previous comments
        $('#article_comments_id').html('');
                    
        var divCommentLoc = $('#article_comments_id').offset()
    

        for (var i=0; i < commentContent.inline.length; i++)
        {
            //Individual Comment Offset
            var commentLoc = $('#' + commentContent.inline[i].ids[commentContent.inline[i].ids.length-1]).offset()

            var user_comment = "";
            user_comment += "<div class='rwm_comment_class' "
            user_comment += "style='top:"
            user_comment += (commentLoc.top - divCommentLoc.top)
            user_comment += "px'>"
            user_comment += '<strong>'
            user_comment += commentContent.inline[i].username + ': <br/>'
            user_comment += '</strong>'
            user_comment += commentContent.inline[i].comment
            user_comment +='</div>'

            $('#article_comments_id').prepend(user_comment)


            // Highlight Words
            for(x in commentContent.inline[i].ids)
            {
                $(('#' + commentContent.inline[i].ids[x])).css('background', 'yellow')
            }
        

        }





    }

</script>
