<!# templates/homepage.html>
<! Homepage>

{% load staticfiles %}

<head>
    <title>Read With Me </title>

    <script src="{% static "jquery.crSpline.js" %}"></script>

</head>

<br/>

<body>
    <style>
        .fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }

.mover {
    position: absolute;
    z-index: 5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 'courier new'monospace; 
    border:5px solid black;
    color: blue;
    text-decoration:underline;

}
    </style>


<div id="homepage_container_id" class="homepage_container_class">
    

    <br />
    
    <div id="homepage_add_reader_id" class="homepage_add_reader_class">
       <table border='1' width='100%'>
            <tr>
                <td width='633px' height='288px'>
                    <h2>Intro to Read With Me </h2>


                    <iframe width="633px" height="288px" src="http://www.youtube.com/embed/nJrFvUExMuw" frameborder="0" allowfullscreen></iframe>
                        
                </td>

                <td>

                        <h2>
                            1. Drag <span style="font-family: 'courier new', monospace; border:5px solid black">
                            <a id="bookmarkme" href="#" rel="sidebar"> Read With Me </a></span>  into the favorites bar
                        </h2>                    
                            <br/>
                            <br/>

                        <div id="instruction_window">

                            <img id="browser_header" src="http://127.0.0.1:8000/static/Browswer_header_no_rwm.png">

                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h2>
                            2. 
                            <a class = "new_user_a_id" style="color:blue" >
                                Create an account 
                            </a>
                            or
                            <a class = "login_a_id" style="color:blue">
                               login
                            </a>
                        </h2>
                        
                </td>
            </tr>
       </table>
        

    </div>
    
    <br />
    <br />
    
    <div class="homepage_instructions_container_class">
    
        <table border='1' width='100%'>
            <tr height='100%'>
                <td width='33%' height='100%'>
                    <div class="hompage_instruction_block_class">
                        
                            1. Use Read With Me on any article
                                <br/>
                                <p style="text-align:left; padding:10px; font-size:20px">
                                    One click:
                                    <br/>
                                    - Remove ads
                                    <br/>
                                    - Add your thoughts to the article
                                </p>
                            
                    </div>                
                </td>
                <td width='33%'>
                    <div class="hompage_instruction_block_class">
                            2. Leave your thoughts in the article
                            <br/>
                            <p style="text-align:left; padding:10px; font-size:20px">
                                - Comment in the article
                                <br/> 
                                <br/>
                                - Add questions and details
                            </p>
                            <br/>

                    </div>                
                </td>
                <td width='33%'>
                    <div class="hompage_instruction_block_class">
                            3. Share your thoughts with your friends
                            <br/>
                            <p style="text-align:left; padding:10px; font-size:20px">
                                 - Email
                                 <br/>
                                 - Facebook
                                 <br/>
                                 - Unique URLs for each article
                            </p>

                    </div>                
                </td>            
            </tr>

        </table>
    </div>    
</div>




</body>

<script>
    $(function()
    {
        $('.fadein img:gt(0)').hide();
        setInterval(function(){
          $('.fadein :first-child').fadeOut()
             .next('img').fadeIn()
             .end().appendTo('.fadein');}, 
          4000);

        var start = new Object();
        var end = new Object();
        
    $('#browser_header').load(function()
    {



        var image_loc = $('#browser_header').offset()
        var image_height = $('#browser_header').height()


        start.x = $('#bookmarkme').offset().left
        start.y = $('#bookmarkme').offset().top

        end.x = image_loc.left + 15
        end.y = image_loc.top + image_height - 25
    })


        setInterval(
                    function()
                    {
                        var image_animate = '';
                        image_animate += '<div class="mover" id="icon">'
                        image_animate += ' Read With Me '
                        image_animate += '</div>'


                        $('#browser_header').attr("src","/static/Browswer_header_no_rwm.png");


                        $(image_animate)
                            .appendTo($('#instruction_window'))
                            .animate(
                                {crSpline: $.crSpline.buildSequence(
                                    [[start.x, start.y], 
                                     [end.x, end.y]])
                                },
                                    3000, //time
                                    function() 
                                    {
                                        $('#icon').remove()
                                        $('#browser_header').attr("src","/static/Browswer_header_with_rwm.png");
                                    }

                                    );
                    },
                    4000
                   );



        });

    //});


    // Add the Bookmarklet

    $(function() {

    var domain = "http://rwm-stage.herokuapp.com"
    //var domain = "http://127.0.0.1:8000"

    var bookmarklet_javascript = ""
    bookmarklet_javascript += "javascript:(function(){"

    // Ensure JQuery is available
    //bookmarklet_javascript += "add_jquery=document.createElement('SCRIPT');"
    //bookmarklet_javascript += "add_jquery.type='text/javascript';"
    //bookmarklet_javascript += "add_jquery.src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'"
    //bookmarklet_javascript += "document.getElementsByTagName('head')[0].appendChild(add_jquery);"    
    
    // Add the Read With Me script
    bookmarklet_javascript += "RWM_Script=document.createElement('SCRIPT');"
    bookmarklet_javascript += "RWM_Script.type='text/javascript';"
    bookmarklet_javascript += "RWM_Script.src='" + domain + "/static/rwm_reader.js?x='+(Math.random());"
    bookmarklet_javascript += "document.getElementsByTagName('head')[0].appendChild(RWM_Script);"
    bookmarklet_javascript += "})();"

    $('#bookmarkme').attr("href", bookmarklet_javascript)
        $('#bookmarkme').click(function() {
            if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                window.sidebar.addPanel(bookmarklet_javascript);
            } else if(window.external && window.external.AddFavorite) { // IE Favorite
                window.external.AddFavorite(bookmarklet_javascript); 
            } else if(window.opera && window.print) { // Opera Hotlist
                this.title=document.title;
                return true;
            } else { // webkit - safari/chrome
                alert('Press ' + (bookmarklet_javascript));
            }
        });
    });

</script>

