<!-- iframe.html -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}

{% csrf_token %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<head>

    <link rel="stylesheet" href="{% static "RWM.css" %}" type="text/css" />

    <link rel="stylesheet" href="{% static "RWM_reader.css" %}" type="text/css" />
</head>


<div class="nav_link" id="nav">
    
    <div id="nav_logo" >			
        <a href ="/my_articles/" target="_blank">
            Read With Me
        </a>
    </div>
    <br />    

    <div id="nav_user_profile">
       {{ user.first_name }} {{ user.last_name }}    
        <br /><a class="page_text" href = "/logout/" target="_blank"> Log Out </a>
    </div>

    <br />
    <br />

    <div id="nav_menu" class="page_text">
        {% if user != '' %}
            <a href = "/my_articles/" target="_blank"> My Articles | </a>
        {% endif %}  
    </div>   
    <br />    
    <br />

</div>

<!-- Reading Content -->

<style>
    #reading_contents #table_container
    {
        margin: auto;
        border-style:solid;
    }
    .user_headline_input_class .user_comment_input_class
    {
        background:yellow;

    }

    .overall_comments_class
    {

        height:200px;
        background:yellow;
    }

    .headline_comment_class
    {

        height:100px;


    }

    .user_headline_input_class
    {

        height:80px;
        width:98%;
        font-size:15pt;
        font-weight:bold;
        text-align:center;
    }

    .user_overall_input_class
    {
        height:80px;
        width:98%;
        font-size:12pt;
        text-align:left;          
    }

    .sharing_cell
    {
        background:rgba(255, 255, 255, .7);
    }

</style>

<div id="reading_contents">


    <!--Table for Reading Properties -->

    <table id='table_container' width='100%'>
        <tr>
            <td width='600px' id='overall_comments' class='overall_comments_class'>
                
                <!--Overall Comment Section -->
                    
                    <div id='headline_comment_id' class='headline_comment_class'>
                        <br/>
                        <h2>
                            Click here to leave questions or comments about this article
                        </h2>
                        <br/>
                    </div>

                    <hr>

                    <div id='overall_comment_id' class='user_overall_comment_class'>
                        <br/>
                        <h4>
                            Click here to leave more detailed overall comments about this article
                        </h4>

                    </div>
                
                    <br/>
                    <br/>

            </td>

            <td id='article_sharing' class='sharing_cell'>
                Share your thoughts

                <br/>

                <a id="email_article" > 
                    <img src = "{% static "email_icon.png" %}">

                </a>

                <br/>

                <div id="sendFacebook"> 

                    <img src = "{% static "facebook_share.png" %}">

                </div>

                <div id="Link to Article"> 

                    URL to share with your friends
                    <br/>
                    <br/>
                    <input readonly id="URL_share" type="text" name="article_url" value="" >

                </div>



            </td>
        </tr>
        
        <tr>

            <td id='article_content'>

            <!-- Reading content -->

                <div id='article_content_RWM_Viewer' class='article_content_RWM_Viewer_class'>
                    <br/>
                    
                
                        
                        <br/>
                        <div id='RWM_headline'>
                        </div>
                        
                        <br/>
                        <div id='RWM_description'>
                        </div>
                        
                        <br/>
                        <img id='RWM_news_picture' />
                        
                        <br/>
                        <div id='RWM_news_source'>
                        </div>

                        <br/>
                        <div id='RWM_author'>
                        </div>
                        
                        <br/>
                        <div id='RWM_para'>
                        </div>
                
                </div>
            </td>

            <td id='comment_content' height='100'>
                <div id='article_comments_id'>
                </div>
            </td>
        </tr>
    </table>
</div>




<script>

// Set up an Event Listener to get the contents of the article

var ArticleContent = new Object(); 
var commentContent = new Object();
commentContent.inline = new Array(); 

//var getSharing = new function()

var article_url = ''

var domain = 'http://127.0.0.1:8000'
//var domain = "http://rwm-stage.herokuapp.com"

var facebook_sharer = '';

function getSharing()
{
    article_url = domain + "/" + "article" + "/" + ArticleContent.server_id + "/" + ArticleContent.creator_username + "/" + ArticleContent.loc_url

    //setup mailto functionality 
        var mailToUrl = ""

        mailToUrl += "mailto:?to="

        // Subject Text
        mailToUrl += "&subject="
        mailToUrl += "My thoughts on \"" + ArticleContent.headline + "\""

        // Body Text
        mailToUrl += "&body="
        mailToUrl += "What do you think of this? - %0d" + "%09" + ArticleContent.headline
        mailToUrl += "- ( " + article_url + " )"

        // Closing Text
        mailToUrl += "%0d" + "%0d" + "%0d"
        mailToUrl += "Share your thoughts on Read With Me - " + domain
        
        $("#email_article").attr("href", mailToUrl)

    // Specify share on facebook functionality  
        facebook_sharer = "https://www.facebook.com/sharer/sharer.php?u=" + article_url
        
        $("#URL_share").attr("value", article_url)

        

}

$('#sendFacebook').click(
    function() 
    {
        window.open(facebook_sharer , 'sharer', 'width=626,height=436');
    });


var keep_listening = true;

function listener(event)
{
    if(keep_listening)
    {
        ArticleContent = event.data
        add_article_content()
        keep_listening = false

    }   
}

window.addEventListener("message", listener, false)


// Add Article content to your document
function add_article_content()
{
    $('#RWM_headline').append(ArticleContent.headline)
    $('#RWM_description').append(ArticleContent.description)    
    $('#RWM_news_source').append(ArticleContent.site_name)
    $("#RWM_news_picture").attr("src", ArticleContent.image_url)
        
    $("#RWM_news_picture").load(function() 
    {
        size_image()
    })

    
    $('#RWM_author').append(ArticleContent.author)
    
    add_paras()
    send_content_to_server()
    
}

function size_image()
{

    $('#RWM_news_picture').each(function() 
    {
        var maxWidth = 500; // Max width for the image
        var maxHeight = 500;    // Max height for the image
        var ratio = 0;  // Used for aspect ratio
        var width = $(this).width();    // Current image width
        var height = $(this).height();  // Current image height

        // Check if current height is larger than max
        if(height > maxHeight)
        {
            ratio = maxHeight / height; // get ratio for scaling image
            $(this).css("height", maxHeight);   // Set new height
            $(this).css("width", width * ratio);    // Scale width based on ratio
            width = width * ratio;    // Reset width to match scaled image
        }

        // Check if the current width is larger than the max
        if(width > maxWidth)
        {
            ratio = maxWidth / width;   // get ratio for scaling image
            $(this).css("width", maxWidth); // Set new width
            $(this).css("height", height * ratio);  // Scale height based on ratio
            height = height * ratio;    // Reset height to match scaled image
        }
    })
}

function add_paras()
{
    var wordcount = 0;
    var html_para = ''
    var para_words = "";
    
    for (var i in ArticleContent.paras) 
    {
        html_para += "<p>"

        var individual_para = ArticleContent.paras[i]
        
        para_words = individual_para.split(" ")
      
        // Go through each word in the paragraph, creating a span and id for each word
        
        for (var j in para_words) 
        {
            html_para += "<span id='p" + wordcount + "'>"
            html_para += para_words[j] + " "
            html_para += "</span>" 
            wordcount++;
        }
        
        html_para += '</p>';    
    }

    $('#RWM_para').append(html_para)

    //inline commenting
    enable_commenting()    
}

/********************************************* Send Article Content to the Server ***************/

function send_content_to_server()
{
//ArticleContent
    json_response = JSON.stringify(ArticleContent);
    $.post("/article_handler/", 
            json_response,
            function(data) 
            {
                ArticleContent.server_id = data.article_id
                ArticleContent.creator_username = data.username
                ArticleContent.loc_url = data.loc_url
                getSharing()
                
            }
        );
    
}
    

/********************************************* Enable Commenting ***************/
function enable_commenting()
{

/********************************************* Input Comments ***************/

    // get user selection
    
    var ids = new Array();

    $('span').mouseup(function(event)
    {       
        ids = new Array();

        if (window.getSelection) 
        { // non-IE
            userSelection = window.getSelection();
            rangeObject = userSelection.getRangeAt(0);
            if (rangeObject.startContainer == rangeObject.endContainer) 
            {   
                ids = rangeObject.startContainer.parentNode.id
            } 
            else 
            {   
                ids = getAllBetween(
                    rangeObject.startContainer.parentNode,
                    rangeObject.endContainer.parentNode)
            
            }
        } 
        else if (document.selection) 
        { // IE lesser
            userSelection = document.selection.createRange();
            
                
            if (userSelection.htmlText.toLowerCase().indexOf('span') >= 0) 
            {
                $(userSelection.htmlText).filter('span').each(function(index, span) 
                {
                    ids.push(span.id);
                });
            } else 
            {
                ids = userSelection.parentElement().id;
            }
        }
        CreateComment()
    });

    var getAllBetween = function (firstEl,lastEl) 
    {
        var firstElement = $(firstEl); // First Element
        var lastElement = $(lastEl); // Last Element
        var collection = new Array(); // Collection of Elements
        collection.push(firstElement.attr('id')); // Add First Element to Collection
        $(firstEl).nextAll().each(function()
        { // Traverse all siblings
            var siblingID  = $(this).attr('id'); // Get Sibling ID
            if (siblingID != $(lastElement).attr('id')) 
            { // If Sib is not LastElement
                collection.push($(this).attr('id')); // Add Sibling to Collection
            } 
            else 
            { // Else, if Sib is LastElement
                collection.push(lastElement.attr('id')); // Add Last Element to Collection
                return false; // Break Loop
            }
        });         
        return collection; // Return Collection
    }


    function CreateComment()
    {
        var divCommentLoc  = $('#article_comments_id').offset();
        var lastTag = ids[ids.length - 1]
        lastid = '#' + lastTag
        
        var commentLoc = $(lastid).offset();
        var commentID = lastTag;
        
        var user_comment = "";
            user_comment += "<div class='rwm_comment_class' "
            user_comment += "style='top:"
            user_comment += (commentLoc.top - divCommentLoc.top)
            user_comment +="px'>"
            user_comment +='<strong>' + ArticleContent.creator_username + ': </strong>'
            user_comment +='<br/>'
            user_comment +='<input type="text" id="user_comment_RWM_Viewer" class="inline_comment_input_class"/>'
            user_comment +='</div>'
            

        $('#article_comments_id').prepend(user_comment)
        
        // Highlight Words
        for(x in ids)
        {
            $(('#' + ids[x])).css('background', 'yellow')
        }
        
        $('input') // retrieve all inputs
                .keydown(function(e) { // bind keydown on all inputs
                if (e.keyCode == 13)
                {   
                    // enter was pressed
                    $(this).closest('input').submit(); // submit the current form
                }
             });
            
        $('input').submit(
        function()
            {
                    
            commentContent.inline.push(
                                        {"ids" : ids, 
                                        "username": ArticleContent.creator_username, 
                                        "comment": $('#user_comment_RWM_Viewer').val()
                                        }
                                    );

            // send comment to server
            
            CommentPresentation()
            SendComments()
                                        
            }
        )    
    }

    /************************* Presenting Comments ******************/
    function CommentPresentation()
    {
        //clear all previous comments
        $('#article_comments_id').html('');
                    
        var divCommentLoc = $('#article_comments_id').offset()
                    
        for (var i=0; i < commentContent.inline.length; i++)
        {
            //Individual Comment Offset
            var commentLoc = $('#' + commentContent.inline[i].ids[commentContent.inline[i].ids.length-1]).offset()
        
            var user_comment = "";
            user_comment += "<div class='rwm_comment_class' "
            user_comment += "style='top:"
            user_comment += (commentLoc.top - divCommentLoc.top)
            user_comment += "px'>"
            user_comment += '<strong>'
            user_comment += commentContent.inline[i].username + ': <br/>'
            user_comment += '</strong>'
            user_comment += commentContent.inline[i].comment
            user_comment +='</div>'

            $('#article_comments_id').prepend(user_comment)
        }
    }


   $('#headline_comment_id').mouseup(function(event)
    {

       var user_comment = "";
        user_comment += "<div class='headline_comment_class' "
        user_comment +=">"

        //user_comment += "<br/>"

        //user_comment +='<strong>' + ArticleContent.creator_username + ': </strong>'
        user_comment +='<input type="text" placeholder="Leave questions or comments about this article for your friends" id="headline_comment_input_id" class="user_headline_input_class"/>'
        user_comment +='</div>'
            
        $('#headline_comment_id').replaceWith(user_comment)

        $('input') // retrieve all inputs
        .keydown(function(e) 
        { // bind keydown on all inputs
            if (e.keyCode == 13)
            {   
                // enter was pressed
                $(this).closest('input').submit(); // submit the current form
            }
        });

        $('input').submit(
        function()
            {
                    
            commentContent.headline = {
                "comment": $('#headline_comment_input_id').val()
                }

            SendComments()

            headline_comment_html = '<div class = "user_headline_input_class">'
            headline_comment_html += '<br/>'
            headline_comment_html += commentContent.headline.comment
            headline_comment_html += '</div>'

            $('#headline_comment_input_id').replaceWith(headline_comment_html)

            }
        )    
    });


   $('#overall_comment_id').mouseup(function(event)
    {

        var user_comment = "";
        user_comment += "<div class='user_overall_comment_class' "
        user_comment +=">"

        //user_comment += "<br/>"

        //user_comment +='<strong>' + ArticleContent.creator_username + ': </strong>'
        user_comment +='<input type="text" id="overall_comment_input_id" placeholder="Leave more detailed thoughts about this article" class="user_overall_input_class"/>'
        user_comment +='</div>'
            
        $('#overall_comment_id').replaceWith(user_comment)

        $('input') // retrieve all inputs
        .keydown(function(e) 
        { // bind keydown on all inputs
            if (e.keyCode == 13)
            {   
                // enter was pressed
                //alert('Submitting Overall comment')
                $(this).closest('input').submit(); // submit the current form
            }
        });


        $('input').submit(
        function()
            {
                    
            commentContent.overall = {
                "comment": $('#overall_comment_input_id').val()
                }

            SendComments()

            overall_comment_html = '<div class = "user_overall_input_class">'
            overall_comment_html += '<br/>'
            overall_comment_html += commentContent.overall.comment
            overall_comment_html += '</div>'

            $('#overall_comment_input_id').replaceWith(overall_comment_html)

            }
        )  
    });


    $('#headline_comment_input_id').submit(
        function()
            {
                //alert('here')
            }
        )



    function SendComments()
    {
        commentContent.articleid = ArticleContent.server_id
        json_response = JSON.stringify(commentContent);
        
        $.post("/comment_handler/", json_response);

    }
    

}
    
</script>
