<!# templates/main_RWM_template.html>

    {% include 'nav.html' %}

    <! home splash screen>   
    
    {% if show = 'homepage' %}
        {% include 'homepage.html' %}
    {% endif %}

    <! Show My Articles>   
    
    {% if show = 'my_articles' %}
        {% include 'my_articles.html' %}
    {% endif %}


    <! Render shared version of the article>   
    
    {% if show = 'article_base' %}
        {% include 'article_base.html' %}
    {% endif %}


</body>

</html>
   