<!# templates/my_articles.html>
<! My Articles View>

<head>
<title> {{ user }} Articles </title>
<script src="http://127.0.0.1:8000/static/sorttable.js"></script>
<link rel="stylesheet" href="http://127.0.0.1:8000/static/RWM.css" type="text/css" />
<style>
div#popup {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
</style>
</head>
<br />

<div class="outer_container">
    <div class="section_title">
        My Articles
    </div>
    
    <br />

    <table class="sortable" id="sortabletable" width='100%'>
        <tr>
            <th>Article Image</th>
            <th>Headline&nbsp;&#x2195;</th>
            <th>Description&nbsp;&#x2195;</th>
            <th>Author&nbsp;&#x2195;</th>
            <th>Share Date&nbsp;&#x2195;</th>
            <th>Publication Date&nbsp;&#x2195;</th>
            <th>News Source&nbsp;&#x2195;</th> 
        </tr>
        {% for i in user_articles reversed %}
            
            <tr height="20px">
                <td>
                    <a href="\article\{{ i.id }}\{{ user }}\{{ i.loc_url }}">
                        <img src="{{ i.image_url }}" width="125" height="125">
                    </a>
                </td>
                <td>
                    <a class="trigger" id={{i.id}} style="color:black;"href="\article\{{ i.id }}\{{ user }}\{{ i.loc_url }}">
                        {{ i.headline }}
                    </a>
                <td width="35%">
                   {{ i.description }}
                </td>
                <td>
                   {{ i.author }}
                </td>
                <td>
                    {{ i.shared_date.month }}/{{i.shared_date.day}}/{{i.shared_date.year}}
                </td>
                <td>
                
                </td>

            </tr>
        {% endfor %} 

    </table>
    <div id="coo">
        <p>hideme</p>
    </div>
    
<script>
   $(function() {
      var moveLeft = 20;
      var moveDown = 10;
      var lid;
      var crazy;
      $('div#coo').hide();
      $('.trigger').each(function(){
        var id=$(this).attr("id");
        comment(id);
        $.when(comment(id)).then(function(a1){
            var inner = "<div class=\""+id+"\"<h3>Headline Comment:</h3><div>"+ crazy +"</div></div>";
            $("div#coo").append(inner);
        })
      $('.trigger').hover(function(e) {
        lid = jQuery(this).attr("id");
        comment(lid);
        $('div.'+lid).show();
          //.css('top', e.pageY + moveDown)
          //.css('left', e.pageX + moveLeft)
          //.appendTo('body');
      }, function() {
        $('div.'+lid).hide();
      });
      $('.trigger').mousemove(function(e) {
        $("div."+lid).css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
      });
    
    });
    }
    function comment(some){
        $.get("/comment_handler/",{"article_id":some}).done(function(data){
            commentContent = jQuery.parseJSON(data);
            crazy=commentContent.headline.comment;
            console.log(crazy);
        })
    }
</script>
