<!# templates/Dashboard.html>
<! Dashbaord>

<head>
<title>Dashboard {{ nav_user }} </title>
</head>
<br />

<div class="outer_container">
    <div class="section_title">
        My Groups
    </div>
    
    <br />

    <table width='100%'>
        <tr>
            <th>Article Image</th>
            <th>Headline</th>
            <th>Description</th>
            <th>Share Date</th>
            <th>Publication Date</th>
            <th>News Source</th> 
        </tr>
        <tr height="20px">
        </tr>
        <tr>
        </tr>
    </table>