<!# templates/my_articles.html>
<! My Articles View>

<head>
<title> {{ user }} Articles </title>
<script src="http://127.0.0.1:8000/static/sorttable.js"></script>
</head>
<br />

<div class="outer_container">
    <div class="section_title">
        My Articles
    </div>
    
    <br />

    <table class="sortable" id="sortabletable" width='100%'>
        <tr>
            <th>Article Image</th>
            <th>Headline</th>
            <th>Description</th>
            <th>Author</th>
            <th>Share Date</th>
            <th>Publication Date</th>
            <th>News Source</th> 
        </tr>
        {% for i in user_articles reversed %}
            
            <tr height="20px" >
                <td>
                    <a href="\article\{{ i.id }}\{{ user }}\{{ i.loc_url }}">
                        <img src="{{ i.image_url }}" width="125" height="125">
                    </a>
                </td>
                <td>
                    <a href="\article\{{ i.id }}\{{ user }}\{{ i.loc_url }}">
                        {{ i.headline }}
                    </a>
                <td>
                   {{ i.description }}
                </td>
                <td>
                   {{ i.author }}
                </td>

            </tr>
        {% endfor %} 

        <tr>
        </tr>
    </table>